<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sqsong.wanandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="design_width_in_dp"
            android:value="410" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="680" />

        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/AppTheme.TransparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.LoginTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/AppTheme.LoginTheme" />
        <activity
            android:name=".ui.login.RegisterActivity"
            android:theme="@style/AppTheme.LoginTheme" />
        <activity
            android:name=".ui.home.activity.KnowledgeActivity"
            android:theme="@style/AppTheme.LoginTheme" />
        <activity
            android:name=".ui.web.WebViewActivity"
            android:theme="@style/AppTheme.LoginTheme" />
        <activity
            android:name=".ui.wechat.PublicAccountActivity"
            android:theme="@style/AppTheme.LoginTheme" />
        <activity
            android:name=".ui.collection.CollectionActivity"
            android:theme="@style/AppTheme.LoginTheme" />
    </application>

</manifest>